#banner {
    padding-top: 0px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(85vh - 80px); 
    background-color: black;
    position: relative;
    overflow: hidden;
  }
  
  .banner-image {
    width: auto;            
    height: calc(85vh - 80px); 
    max-width: 100%; 
    border-radius: 20px;
  }