main{
    padding-top: 0;
    margin-top: -10px;
}

.wrap-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    box-sizing: border-box;
}


.art-producto {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: default;
}

.imagen {
    width: 100%;
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f8f8f8; 
}

.imagen img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.art-producto h2 {
    font-size: 18px;
    margin: 12px 0;
}

.art-producto h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.art-producto p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
    line-height: 1.5;
    text-align: center;
}




.BotonAgregarCarrito {
    background-color: #333; 
    color: #fff; 
    border-radius: 25px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.BotonAgregarCarrito:hover {
    background-color: #585858;
}


.BotonAgregarCarrito.agregado {
    background-color: white; 
    color: #333;
    transform: scale(1.1); 
    box-shadow: 0 5px 15px rgba(43, 49, 54, 0.4); 
    animation: feedbackAnim 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) forwards; 
    border: none;
}


@keyframes feedbackAnim {
    0% {
        transform: scale(1); 
    }
    40% {
        transform: scale(1.15); 
    }
    60% {
        transform: scale(0.95); 
    }
    100% {
        transform: scale(1); 
    }
}


@media (max-width: 1200px) {
    .wrap-productos {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 900px) {
    .wrap-productos {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .wrap-productos {
        grid-template-columns: 1fr; 
    }
}



