#filtros {
    width: 100%; 
    padding: 10px 0; 
    background-color: #f1f1f1; 
    border-bottom: 1px solid #ccc; 
    box-sizing: border-box; 
}

.section-nav {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#opciones-productos {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0; 
    padding: 0; 
    list-style: none; 
}

#opciones-productos li {
    list-style: none; 
    display: inline-block; 
    margin: 0 10px; 
}

.btn-filter {
    background-color: #f8f9fa;
    color: #333;
    border: 2px solid #333;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap; 
}

.btn-filter:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1);
}

.btn-filter:active {
    background-color: #fff;
    border-color: #fff;
    transform: scale(0.95);
}

.btn-filter.selected {
    background-color: #333;
    color: #333;
    border-color: #fff;
}