.icono-ubicacion {
    width: 24px;
    height: 24px;
    filter: invert(1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.icono-carrito-vacio {
    width: 24px;
    height: 24px;
    filter: invert(1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.icono-carrito-full {
    width: 24px;
    height: 24px;
    filter: invert(1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.icono-login {
    width: 24px;
    height: 24px;
    filter: invert(1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}