.carrito-contenedor {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .carrito-vacio {
    text-align: center;
    font-size: 18px;
    color: #333;
  }
  
  .producto-carrito {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    width: 80%; /* Ajusta el ancho al 80% */
    margin: auto; /* Centra el contenedor */
}
  
  .producto-imagen img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .producto-detalles {
    flex: 1;
  }
  
  .producto-nombre {
    font-size: 18px;
    margin: 0 0 10px;
  }
  
  .producto-cantidad {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .btn-cantidad {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #eee;
    cursor: pointer;
  }
  
  .cantidad-producto {
    font-size: 16px;
    font-weight: bold;
  }
  
  .producto-precio,
  .producto-subtotal {
    margin: 5px 0;
    font-size: 16px;
  }

  .producto-subtotal{
    font-weight: bold;
  }
  
  .carrito-total {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
  }

  .carrito-total {
    width: 90%;


  }