* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}


html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif; 
}


#root, #app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


a {
  text-decoration: none;
  color: inherit;
}


button {
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: Arial, sans-serif; 
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #f8f9fa;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
main {
  padding-top: 90px;
  flex: 1;
  display: flex;
  flex-direction: column; 
}

footer {
  margin-top: auto;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  width: 100%;
}